.fa-chart-line{
    color: #8284FF;
}
.fa-list-ol{
    color: #8284FF;
}
.fa-list-ul{
    color: #8284FF;
}
.fa-tasks{
    color:#5DD1E2 ;
}
.fa-pen-alt{
    color:#5DD1E2 ;
}
.fa-spinner{
    color:#B7CAFF;
}
.fa-eye{
    color:#FFDF6D ;
}
.fa-check-double{
    color:#5DD1E2 ;   
}
.fa-pause-circle{
    color: #C7BFBF;
}
.fa-hourglass-end{
    color:#D15858;
}
.fa-window-close{
    color:#707070;
}
.fa-marker{
    color: #5DD1E2;
}
.fa-project-diagram{
    color: #6600FF;
}
.fa-cogs{
    color: #8284FF;
}
.fa-users{
    color: #6600FF;
}
.fa-user-tie{
    color: #6600FF;
}
.fa-user-times{
    color:#D15858;
}
.fa-user-plus{
    color: #5DD1E2;
}
.fa-plus{
    color: #5DD1E2; 
}
.fa-edit{
    color:#8284FF
}
.fa-calendar-day{
    color:#8284FF
}
.fa-trash{
    color:#D15858  
}
.fa-upload{
    color: #6600FF;
}
.fa-clipboard-list{
    color: #6600FF;
}
.fa-download{
    color: #5DD1E2;
}

.fa-eye{
    color: #FFDF6D;
}
.fa-hourglass-start{
    color: #5DD1E2;
}
.fa-clock{
    color: #FFDF6D;
}
.fa-sign-out-alt{
    color: #D15858;
}
i.fa-power-off{
    color:#D15858 !important;
}
.fa-paperclip{
    color:#7070704a ;
}
.fa-marker{
    color: #5DD1E2; 
}
